* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8em;
    justify-content: center;
    align-items: center;
    background-color: hsl(13, 100%, 72%);
    border-radius: 0 0 0 150px;
    position: relative;
    overflow: hidden;
    height: 80vh;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    z-index: 2;
}

nav .left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7em;
}

nav ul li {
    list-style: none;
}

nav ul {
    display: flex;
    gap: 1.5em;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-weight: 500;
}

nav .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

nav button {
    padding: 10px;
    border: none;
    color: white;
    background: transparent;
    font-weight: 500;
    font-size: 23px;
}

.have-bg {
    background-color: white;
    border-radius: 30px;
    padding: 15px 30px;
    color: hsl(353, 100%, 62%);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 3em;
}

.hero .top {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    z-index: 2;
}

.hero .top h1 {
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

.hero .top p {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    color: hsl(0, 0%, 100%);
}

.hero .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.hero .have-border {
    padding: 15px 30px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 30px;
    background: transparent;
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    font-weight: 600;
}

.hero .have-bg {
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    background: white;
    color: hsl(353, 100%, 62%);
    font-weight: 600;
}

.illustration {
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap: 25em;
}

.designated-cont {
    width: 100%;
    position: relative;
}

.designated {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.designated .top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.designated .top h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: hsl(208, 49%, 24%);
}

.designated .bottom {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3em;
}

.designated .bottom .col {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-left: 200px;
    margin-right: 30px;
    margin-top: 100px;
}

.designated .bottom .col h5 {
    font-size: 30px;
    font-weight: 600;
    color: hsl(208, 49%, 24%);
}

.designated .bottom .col p {
    color: hsl(240, 3%, 62%);
    line-height: 30px;
    font-weight: 500;
    font-size: 20px;
}

.designated-cont .illustration {
    position: absolute;
    right: 0;
    top: 0;
    width: auto; 
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start; 
}

.infra-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.infra {
    display: flex;
    width: 100%;
    background-color: hsl(240, 10%, 16%);
    border-radius: 0 50px 0 50px;
    justify-content: center;
    align-items: center;
}

.infra .image {
    width: 50%;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.infra .text {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 2em;
    width: 50%;
    margin-left: 50%;
    padding: 100px 0;
}

.infra .text p {
    font-size: 20px;
    font-weight: 500;
    color: hsl(240, 3%, 62%);
    width: 80%;
    line-height: 30px;
}

.infra h5 {
    color: white;
    font-size: 40px;
    font-weight: 600;
}

.random-cont {
    width: 100%;
    display: flex;
}

.random {
    width: 100%;
    display: flex;
    gap: 5em;
}

.random .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3em;
}

.random .right .col {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.random .head {
    font-size: 35px;
    font-weight: 600;
    color: hsl(208, 49%, 24%);
}

.random .sub {
    font-size: 20px;
    font-weight: 400;
    color: hsl(240, 3%, 62%);
}