* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    width: 100%;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(13, 100%, 72%);
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

nav .left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7em;
}

nav ul li {
    list-style: none;
}

nav ul {
    display: flex;
    gap: 1.5em;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-weight: 500;
}

nav .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

nav button {
    padding: 10px;
    border: none;
    color: white;
    background: transparent;
    font-weight: 500;
    font-size: 23px;
}

.have-bg {
    background-color: white;
    border-radius: 25px;
    padding: 15px 30px;
    color: hsl(353, 100%, 62%);
}